
header.glorious {
	padding: 30px 10px 10px;
	text-align: center;
}

header.glorious p {
	margin-bottom: 0;
	white-space: nowrap;
}




button.flat,
a.flat {
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	background: hsl(140, 40%, 50%);
	margin: 4px;
	color: white;
	font: 2.5vw/1 Lato;
	vertical-align: top;
}

@media only screen and (max-width: 720px) {
	button.flat,
	a.flat{ font-size: 18px /* = max-width * 2.5vw; */ }
}


button.flat:active,
a.flat:active {
	background: hsl(140, 40%, 30%);
}

a.flat[href^="http"]:after {
	content: '';
	display: inline-block;
	width: .6em;
	height: .6em;
	margin: 0 -.2em 0 .2em;
	vertical-align: .25em;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNODAuODcgNTEuMjRjLTMuNSAwLTYuMzYgMi44NC02LjM2IDYuMzV2MjYuOTNjMCAxLjQ3LTEuMTMgMi42Ni0yLjYgMi42NkgxNS40Yy0xLjQ3IDAtMi42Ni0xLjItMi42Ni0yLjY2di01Ni41YzAtMS40NiAxLjItMi42NSAyLjY2LTIuNjVoMjYuOTdjMy41IDAgNi4zNi0yLjg0IDYuMzYtNi4zNXMtMi44NS02LjM2LTYuMzYtNi4zNmgtMjdDNi45IDEyLjcgMCAxOS42IDAgMjguMDd2NTYuNWMwIDguNDcgNi45IDE1LjM3IDE1LjM2IDE1LjM3aDU2LjVjOC40NyAwIDE1LjM2LTYuOSAxNS4zNi0xNS4zN1Y1Ny42YzAtMy41Mi0yLjg0LTYuMzYtNi4zNS02LjM2ek04NC41NyAwSDU4LjIzYy0zLjUgMC02LjM1IDIuODUtNi4zNSA2LjM2IDAgMy41IDIuODQgNi4zNSA2LjM1IDYuMzVoMjBMMzYuMDcgNTQuOWMtMi40OCAyLjQ4LTIuNDggNi41IDAgOSAxLjI0IDEuMjMgMi44NyAxLjg1IDQuNSAxLjg1IDEuNjIgMCAzLjI1LS42MiA0LjUtMS44Nkw4Ny4yIDIxLjd2MjBjMCAzLjUyIDIuODUgNi4zNiA2LjM2IDYuMzYgMy41IDAgNi4zNS0yLjg0IDYuMzUtNi4zNVYxNS40Qzk5Ljk3IDYuOSA5My4wNyAwIDg0LjYgMHoiLz48L3N2Zz4=);
}

button.flat.disabled,
a.flat.disabled {
	background: hsl(140, 0%, 50%, 0.5);
	color: hsla(0, 0%, 100%, 0.5);
	-webkit-filter: grayscale(0.9);
	filter: grayscale(0.9);
	pointer-events: none;
}






nav.delightful {
	padding: 10px 3px;
	font-size: 0;
	text-align: center;
	white-space: nowrap;
}

@media only screen and (min-width: 661px) {
	nav.delightful a.flat { border-radius: 0; margin: 0 }
	nav.delightful .flat ~ .flat { margin-left: 2px }
	nav.delightful a.flat:first-child { border-radius: 4px 0 0 4px }
	nav.delightful a.flat:last-child { border-radius: 0 4px 4px 0 }
}

@media only screen and (max-width: 660px) {
	nav.delightful a.flat { display: block; padding: 15px; border-radius: 0; margin: 0 20px; font-size: 24px }
	nav.delightful .flat ~ .flat { border-top: 2px solid hsl(140, 40%, 45%) }
	nav.delightful a.flat:first-child { border-radius: 4px 4px 0 0 }
	nav.delightful a.flat:last-child { border-radius: 0 0 4px 4px }

}



section.blurb {
	padding: 20px 40px;
	text-align: center;
	white-space: nowrap;
}


article.modal {
	background: hsla(0, 0%, 70%, 0.9)
}

section.dialog {
	padding: 30px;
	border-radius: 8px;
	background: hsl(0, 0%, 80%);
}


article.intro {
	padding-bottom: 100px
}

footer.curious {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	text-align: left;
	font: 14px/1.7 Lato;
}




/*
	Slack
*/

iframe.__slackin { margin: 11px 6px }
div.__slackin iframe.__slackin { margin: 0 }
div.__slackin {
	position: absolute;
	left: -10000px;
	top: -10000px;
	box-sizing: content-box;
	width: 250px;
	height: 124px;
	border-radius: 4px;
	padding: 4px;
	border: 1px solid #D6D6D6;
	margin: 0;
	background-color: #FAFAFA;
	line-height: 0;
}

div.__slackin div.arrow {
	position: absolute;
	display: inline;
	width: 0;
	height: 0;
	padding: 0;
	border: solid transparent;
	margin: 0;
	pointer-events: none;
}

div.__slackin div.arrow:nth-child(1) {
	border-width: 7px;
	border-color: rgba(214, 214, 214, 0);
	margin-left: -7px;
}

div.__slackin div.arrow:nth-child(2) {
	border-color: rgba(250, 250, 250, 0);
	border-width: 6px;
	margin-left: -6px;
}
